EXPO_PUBLIC_API_URL=http://api.dongdong.io:3000/api/v1
# guardian(보호자/환자) Guardian Native AppKey
EXPO_PUBLIC_KAKAO_APP_KEY=47bc9c4a41a6efc98804915332fbc7e8
# DEV/QA 기본 WebView 컨텐츠 (guardian.dongdong.kr 준비 전)
EXPO_PUBLIC_WEBVIEW_URL=http://dev-client.dongdong.io
EXPO_PUBLIC_MIN_APP_VERSION=1.0.0
EXPO_PUBLIC_UPDATE_URL=
EXPO_PUBLIC_ANDROID_UPDATE_URL=
EXPO_PUBLIC_IOS_UPDATE_URL=


